*.pyc

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
.project
*.pyc
*.pydevproject
*.settings
www/static/*
staticfiles/
.idea/*
venv/*
.venv/
venv37/*
venv-old/*
requirements-local.txt

db.sqlite3
.env
__pycache__/
